<h1>Seja bem vindo</h1>
<h2>Você está em ambiente de: <strong style="color: forestgreen"> <%= ambiente_rails %> </strong> </h2>
<p> <strong>Data:</strong> <%= data_br(Date.today)%> </p>
<%= render "menu"%>
<ul>
  <li>
    <%= link_to "Moedas", coins_path %>
    <%= link_to "Tipos de mineração", mining_types_path %>
  </li>
  <li>
    <p>Teste: <%= @teste %></p>
  </li>
</ul>


