<h1><%=t('titles.welcome')%></h1>

<p style="font-size: 18px;"><strong style="font-size: 18px;">Data:</strong> <%= l(Date.today) %> </p>
<%= render "menu" %>
<ul>
  <li>
    <strong style="font-size: 18px;"><%= link_to t('activerecord.models.coin.other'), coins_path %></strong>
  </li>
  <li>
    <strong style="font-size: 18px;"><%= link_to t('activerecord.models.mining_type.other'), mining_types_path %></strong>
  </li>
</ul>


